@use 'typography';

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f3f6f9;
    color: #212529;
    font-size: 0.825rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

main {
    min-height: calc(100vh - 60px);
    padding: 140px 0 30px;

    &.default {
        padding: 0;
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.list-animation {
	> div {
		transition: all 1s;
	}

	position: relative;

	&__message {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;

		&.list-enter, &.list-leave-to {
			transform: translateY(-20px);
		}
	}
}

.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.list-complete-leave-active {
	position: absolute;
}
