.footer {
    height: 60px;
    background-color: #fff;
    color: #98a6ad;
    padding: 20px 12px;

	@media print {
		display: none;
	}

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
