.header {
    background-color: #38454a;
    color: #fff;
    width: 100%;

    @media screen and (min-width: 756px) {
        position: fixed;
	    z-index: 100;
    }

	@media print {
		position: relative;
	}

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;

        @media screen and (min-width: 756px) {
            flex-direction: row;
            height: 70px;
            padding: 0;
            gap: 0;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;

		@media print {
			display: none;
		}
    }

    &__logo {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
    }
}
