.section {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0;
    }

    &__title {
        color: #495057;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
    }
}