.app-menu {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);

    font-family: 'Rubik', sans-serif;

	@media print {
		display: none;
	}

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: 756px) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__item:first-child &__link {
        @media screen and (min-width: 756px) {
            padding-left: 0;
        }
    }

    &__link {
        color: #6d7080;
        padding: 0.75rem 1.5rem;
        font-size: .925rem;
        font-weight: 500;
        display: inline-block;

        &:hover {
            color: #6691e7;
        }
    }
}
