.button {
    cursor: pointer;
    color: #fff;
    background-color: #865ce2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #865ce2;
    padding: 0.5rem 1rem;
    font-size: .825rem;
    font-weight: bold;
    border-radius: 0.25rem;
    display: inline-block;
    width: 100%;

    transition: background-color .5s ease, color .5s ease;

    @media screen and (min-width: 756px) {
        width: max-content;
    }

    &--icon {
        padding: .125rem .25rem;
		transition: opacity .5s ease;

		&.button--success {
			opacity: .5;
		}
    }

    &:hover {
        background-color: #724ec0;
        border-color: #6b4ab5;
    }

    &--success {
        color: #fff;
        background-color: #13c56b;
        border-color: #13c56b;

        &:hover {
            background-color: #10a75b;
            border-color: #0f9e56;
        }
    }

    &--soft {
        color: #865ce2;
        background-color: rgba(134, 92, 226, .1);
        border-color: transparent;

        &:hover {
            color: #fff;
            background-color: #865ce2;
        }
    }

    &--danger {
        background-color: #ed5e5e;
        border-color: #ed5e5e;
        color: #fff;

        &:hover {
            background-color: #c95050;
            border-color: #be4b4b;
        }
    }

    &--fluid {
        width: 100%;
    }

    &--half {
        width: 50%;
    }
}

.btn {
    &--danger {
        background-color: #ed5e5e!important;
    }

    &--success {
        background-color: #13c56b!important;
    }
}