.w {
    &-100 {
        width: 100px;
    }

    &-200 {
        width: 200px;
    }

    &-300 {
        width: 200px;
    }
}

.mb {
    &-1 {
        margin-bottom: .5rem!important;
    }
    &-2 {
        margin-bottom: 1rem!important;
    }
}

.no-transition {
	transition: none!important;
}
